config.el
config.el~
lisp
network-security.data
auto-save-list
elpa
recentf*
/init.el~
/eshell/history
/eshell/lastdir
/projectile-bookmarks.eld
/projectile.cache
/.mbsyncpass.gpg
init.el
transient/history.el
